.idea/
bin/
dist/
.malice/
go.sum
helper/intl/professional/*
!helper/intl/professional/.gitkeep
helper/intl/custom/*
!helper/intl/custom/.gitkeep
*.bin
*.so
*.auth
*.log
.gomodcache/
.gocache/
/config.yaml
/server/config.yaml
helper/intl/community/resources/
helper/intl/community/modules/
helper/intl/community/main.lua
helper/intl/community/mal.yaml
